*,*::before,*::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
img{
    display: block;
}
h2{
    font-size: 64px;
}
h3{
    font-size: 48px;
}
h4{
    font-size: 36px;
}
h5{
    font-size: 24px;
}

.container{
    max-width: 1140px; // (1110 + 15*2 gutter)
    margin: 0 auto;
    padding: 0 15px;
    @include pad{
        max-width: 720px; // (690 + 15*2 gutter)
    }
    @include mobile{
        max-width: 375px; // (345 + 15*2 gutter)
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #AA0601;
    padding: 30px 56px 30px 88px;
    h1{
        float: left;
        a{  
            width: 80px;
            height: 48px;
            display: block;
            background: url(../images/logo.png) no-repeat center center;
            background-size: contain;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;    
        }
    }
    ul{
        display: flex;
        li{
            a{
                color: #FFFFFF;
                font-size: 20px;
                padding: 42px 32px;
                &:hover{
                    background: #FFFFFF;
                    color: #AA0601;
                }
            }
            
        }
    }
    @include pad{
        padding: 30px 19px 30px 39px;
        li a{
            padding: 42px 20px;
        }
    }
    @include mobile{
        flex-direction: column;
        padding: 0;
        h1 a{
            width: 48px;
            height: 50px;
        }
        ul{
            flex-wrap: wrap;
            text-align: center;
            width: 100%;
            li{
                width: 50%;
                line-height: 45px;
                border: 1px solid #FFFFFF;
                a{
                    padding: 0;
                    &:hover{
                        background: #AA0601;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.footer{
    color: #ffffff;
    background: #AA0601;
    padding: 32px 0;
    .top{
        display: flex;
        justify-content: space-between;
        padding-bottom: 8px;
        border-bottom: 1px solid #FFFFFF;
        ul, a{
            display: flex;
            color: #ffffff;
        }
        .menu{
            ul li a{
                font-size: 16px;
                margin: 24px 24px 36px 0px;
            }
            h4 a{
                display: flex;
                align-items: center;
                font-size: 36px;
                margin-bottom: 16px;
                span{
                    font-size: 48px;
                    margin-right: 16px;
                }
            }
        }
        .link{
            a svg{
                max-width: 48px;
                margin-left: 32px;
            }
        }
    }
    .matter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        ul{
            display: flex;
            li{
                font-size: 14px;
                margin-left: 48px;
            }
        }
    }
    @include pad{
        .top{
            .menu{
                ul li a{
                    margin: 6px 20px 18px 0px;
                }
                h4 a{
                    font-size: 20px;
                    margin-bottom: 12px;
                    span{
                        font-size: 24px;
                        margin-right: 8px;
                    }
                }
            }
            .link{
                a svg{
                    max-width: 24px;
                    margin-left: 24px;
                    margin-top: -12px;
                }
            }
        }
        .matter{
            margin-top: 24px;
            ul li{
                margin-left: 24px;
            }
        }
    }
    @include mobile{
        padding: 24px 0;
        .top{
            padding-bottom: 18px;
            .menu{
                ul{
                    display: none;
                }
                h4 a{
                    font-size: 16px;
                    margin-bottom: 6px;
                    span{
                        font-size: 20px;
                        margin-right: 4px;
                    }
                }
            }
        }
        .matter{
            margin-top: 16px;
            flex-direction: column;
            align-items: flex-start;
            p{
                font-size: 14px;
            }
            ul{
                flex-direction: column;
                li{
                    margin: 0;
                    margin-top: 8px;
                }
            }
        }
    }
}
