@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto; }

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none; }

img {
  display: block; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 19px; }

p {
  font-size: 16px; }

.container {
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .container {
      max-width: 690px; } }
  @media (max-width: 375px) {
    .container {
      max-width: 350px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #AA0601;
  color: white;
  max-width: 100%; }
  .header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .header ul li {
      font-size: 20px; }
  @media (max-width: 375px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .header ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 100%; }
        .header ul li {
          max-width: 50%;
          height: 45px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border: 1px solid #FFFFFF; } }

.footer {
  background: #AA0601;
  padding-top: 32px; }
  .footer .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
    color: #FFFFFF; }
    .footer .top ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      color: #FFFFFF; }
    .footer .top .menu li {
      margin-right: 48px; }
    .footer .top .link li {
      margin-left: 32px; }
  .footer .middle {
    margin-top: 36px;
    padding-bottom: 8px;
    border-bottom: 1px solid #FFFFFF; }
    .footer .middle h3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #FFFFFF;
      margin-bottom: 16px; }
      .footer .middle h3 span {
        font-size: 36px;
        margin-right: 20px; }
  .footer .matter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 39px; }
    .footer .matter p {
      font-size: 16px;
      color: #FFFFFF; }
    .footer .matter ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .footer .matter ul li {
        font-size: 14px;
        color: #FFFFFF;
        margin-left: 48px; }

.bg {
  background: url(../images/banner.png) no-repeat;
  background-size: cover; }
  .bg .title {
    height: 840px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #650300; }

.bg-2 {
  background: #AA06010D no-repeat; }

.Promise {
  height: 481px;
  padding-top: 60px;
  padding-bottom: 80px; }
  .Promise h2 {
    text-align: center;
    color: #650300; }
  .Promise ul {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    .Promise ul li {
      max-width: 24%; }
      .Promise ul li img {
        margin: 0 auto; }
      .Promise ul li h4 {
        color: #650300;
        text-align: center;
        margin-top: 16px;
        margin-bottom: 8px; }
      .Promise ul li p {
        text-align: left; }

.Frame {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px; }
  .Frame h2 {
    margin-bottom: 8px;
    color: #650300; }
  .Frame li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 32px; }
    .Frame li h2 {
      color: #AA0601; }
  .Frame span {
    color: #AA0601;
    font-size: 48px;
    margin-right: 8px; }
  .Frame .right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .Frame .right img {
      margin-left: 30px; }
  .Frame .left img {
    margin-right: 30px; }

.bg-3 {
  background: url(../images/bg.png) no-repeat center;
  background-size: cover;
  height: 705px;
  padding-top: 60px;
  padding-bottom: 80px; }
  .bg-3 .branding {
    text-align: center; }
    .bg-3 .branding h2 {
      color: #FFFFFF;
      margin-bottom: 40px; }
    .bg-3 .branding ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .bg-3 .branding ul li {
        width: 540px;
        height: 455px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .bg-3 .branding ul li p {
          font-size: 72px;
          color: #AA0601; }
      .bg-3 .branding ul .box1 {
        background: url(../images/product-8.png) rgba(255, 255, 255, 0.5) no-repeat center center;
        background-blend-mode: lighten;
        background-size: cover; }
      .bg-3 .branding ul .box2 {
        background: url(../images/product-9.png) rgba(255, 255, 255, 0.5) no-repeat center center;
        background-blend-mode: lighten;
        background-size: cover; }

.customer {
  padding-top: 60px;
  padding-bottom: 80px; }
  .customer h2 {
    text-align: center; }
  .customer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .customer ul li {
      max-width: 255px;
      height: 460px;
      border: 1px solid #DEE2E6;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029; }
      .customer ul li .content {
        height: 204px;
        padding: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }

.contact {
  max-width: 730px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 80px; }
  .contact h2 {
    text-align: center; }
  .contact p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }
  .contact label {
    font-size: 16px;
    line-height: 24px; }
  .contact input {
    height: 50px;
    background: #AA06010D;
    opacity: initial;
    margin-bottom: 16px;
    padding-left: 1rem; }
  .contact ::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px; }
  .contact ::-moz-placeholder {
    font-size: 16px;
    line-height: 24px; }
  .contact :-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px; }
  .contact ::-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px; }
  .contact ::placeholder {
    font-size: 16px;
    line-height: 24px; }
  .contact input[id=feedback] {
    height: 136px; }
    .contact input[id=feedback] ::-webkit-input-placeholder {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: start;
              align-items: flex-start; }
    .contact input[id=feedback] ::-moz-placeholder {
      display: flex;
      align-items: flex-start; }
    .contact input[id=feedback] :-ms-input-placeholder {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start; }
    .contact input[id=feedback] ::-ms-input-placeholder {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: start;
          align-items: flex-start; }
    .contact input[id=feedback] ::placeholder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
  .contact .check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .contact .check p {
      margin-left: 4px;
      font-size: 16px;
      line-height: 24px; }
  .contact button {
    width: 350px;
    height: 54px;
    margin: 0 auto;
    background: #AA0601;
    color: #FFFFFF;
    font-size: 16px; }

.choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .choice li {
    width: 33%; }
  .choice a {
    height: 96px;
    font-size: 32px;
    border: 1px solid #DCDCDC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #000; }
    .choice a span {
      font-size: 44px; }
    .choice a:hover {
      border-bottom: 8px solid #AA0601; }

.bg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .bg-4 img {
    max-width: 50%; }

.Celluloid {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 160px; }
  .Celluloid ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    .Celluloid ul li {
      width: 23%;
      padding-bottom: 104px; }
      .Celluloid ul li .ntd {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .Celluloid ul li .ntd .price {
          color: #AA0601; }
      .Celluloid ul li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .Celluloid ul li .color span {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 999em; }
        .Celluloid ul li .color .brown {
          background: #5F3E2D; }
        .Celluloid ul li .color .orange {
          background: #B75929; }

.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .next a {
    color: #555555;
    border: 1px solid #555555;
    font-size: 18px;
    padding: 12px 16px; }
    .next a .page {
      font-size: 19px;
      padding: 11px 12px;
      background: #F2F2F2; }
    .next a:hover {
      background: #000000;
      color: #FFFFFF; }

.collectton {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 160px; }
  .collectton ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px; }
    .collectton ul li {
      width: 30%;
      padding-bottom: 104px; }
      .collectton ul li .ntd {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .collectton ul li .ntd .price {
          color: #AA0601; }
      .collectton ul li .color {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .collectton ul li .color span {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 999em; }
        .collectton ul li .color .brown {
          background: #5F3E2D; }
        .collectton ul li .color .orange {
          background: #B75929; }

.place {
  padding-top: 96px; }
  .place h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 65px; }
  .place label {
    font-size: 24px;
    margin-right: 20px; }
  .place select {
    width: 324px;
    height: 45px;
    font-size: 18px;
    padding-left: 18px;
    color: #CED4DA;
    border: 1px solid #CED4DA; }

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 160px; }
  .shop li {
    width: 32%;
    margin-top: 32px; }
    .shop li h4 {
      border: 1px solid #00000020;
      padding: 12px 24px; }
    .shop li h5 {
      text-align: center;
      padding: 20px 0;
      border: 1px solid #000;
      background: #000;
      color: #FFFFFF; }
    .shop li a :hover {
      background: #CED4DA;
      color: #000;
      border: 1px solid #CED4DA; }
    .shop li .site {
      padding: 16px 26px;
      border: 1px solid #00000020;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .shop li .site p {
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .shop li .site .up {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .shop li .site span {
        font-size: 20px;
        margin-right: 10px; }

.shop-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 32px;
  padding-bottom: 160px; }
  .shop-place li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .shop-place li .inn {
      max-width: 40%; }
    .shop-place li iframe {
      width: 58%;
      height: 100%; }
    .shop-place li h4 {
      border: 1px solid #00000020;
      padding: 12px 24px; }
    .shop-place li h5 {
      text-align: center;
      padding: 20px 0;
      border: 1px solid #000;
      background: #000;
      color: #FFFFFF; }
    .shop-place li a :hover {
      background: #CED4DA;
      color: #000;
      border: 1px solid #CED4DA; }
    .shop-place li .site {
      padding: 16px 26px;
      border: 1px solid #00000020;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .shop-place li .site p {
        font-size: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .shop-place li .site .up {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start; }
      .shop-place li .site span {
        font-size: 20px;
        margin-right: 10px; }

.bg-5 {
  background: #650300; }

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
  color: #FFFFFF; }
  .news ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .news ul li {
      font-size: 20px;
      margin-right: 48px; }
  .news span {
    font-size: 30px; }

.bolg {
  padding-top: 96px;
  padding-bottom: 160px; }
  .bolg h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 65px; }
  .bolg ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .bolg ul li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 60px; }
    .bolg ul li .set {
      max-width: 45%; }
      .bolg ul li .set h4 {
        font-size: 32px; }
      .bolg ul li .set h3 {
        text-align: end; }
      .bolg ul li .set h4, .bolg ul li .set h3 {
        color: #650300; }
      .bolg ul li .set h5 {
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .bolg ul li .set h5 span {
          color: #555555; }
      .bolg ul li .set p {
        color: #555555;
        font-size: 20px;
        margin-top: 14px;
        margin-bottom: 24px; }

.detail p {
  margin: 8px 0; }
  .detail p::after {
    content: '情人特別企劃';
    color: #AA0601; }

.detail span {
  font-size: 24px;
  color: #AA0601;
  margin-right: 16px; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .article .event {
    width: 75%;
    padding-bottom: 160px; }
    .article .event h2 {
      font-size: 48px; }
    .article .event h4 {
      font-size: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .article .event h4 span {
        font-size: 16px; }
    .article .event img {
      margin: 24px 0; }
    .article .event p {
      font-size: 20px;
      color: #0A0A0A;
      padding-bottom: 16px; }
    .article .event .share p {
      color: #0A0A0A;
      margin-bottom: 4px;
      margin-top: 24px; }
    .article .event .share svg {
      margin-left: 16px; }
    .article .event .share .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-top: 1px solid #707070; }
      .article .event .share .arrow p {
        font-size: 19px; }
      .article .event .share .arrow span {
        font-size: 16px; }
  .article .tags {
    width: 23%;
    color: #AA0601; }
    .article .tags h4 {
      font-size: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .article .tags h4 span {
        font-size: 38px;
        margin-right: 12px; }
    .article .tags span {
      font-size: 24px;
      margin: 8px 0;
      margin-right: 24px; }

.problem {
  padding-top: 96px;
  padding-bottom: 160px; }
  .problem h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 65px; }
  .problem h3 {
    font-size: 32px;
    margin: 36px 0; }
  .problem li {
    margin-bottom: 32px; }
    .problem li h4 {
      font-size: 20px;
      margin-bottom: 16px; }
    .problem li p {
      padding-left: 95px; }

/*# sourceMappingURL=all.css.map */
