@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:ital,wght@1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle; }

i {
  display: block; }

a {
  display: block;
  text-decoration: none; }

h2 {
  font-size: 64px;
  font-weight: bold; }

h3 {
  font-size: 48px; }

h4 {
  font-size: 36px; }

h5 {
  font-size: 24px; }

p {
  font-size: 16px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 960px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 720px) {
    .container {
      max-width: 375px; } }

.bg-transparent {
  background-color: transparent; }

.bg-red {
  background-color: #AA0601; }

.bg-scarlet {
  background-color: #650300; }

.bg-pink {
  background-color: #AA06010D; }

.bg-brown {
  background-color: #5F3E2D; }

.bg-orange {
  background-color: #B75929; }

.bg-logo {
  background: url(../images/logo.png) no-repeat center center;
  background-size: contain; }

.bg-man {
  background: url(../images/banner.png) center;
  background-size: cover; }

.bg-female {
  background: url(../images/bg.png) center;
  background-size: cover; }

.bg-green {
  background: url(../images/product-8.png) rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: cover; }

.bg-glasses {
  background: url(../images/product-9.png) rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  background-size: cover; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.fd-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.fd-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.jc-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jc-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.jc-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.ai-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ai-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.ai-line {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.txt-center {
  text-align: center; }

.txt-end {
  text-align: end; }

.txt-left {
  text-align: left; }

@media (max-width: 960px) {
  .m-d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

@media (max-width: 960px) {
  .m-f-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 960px) {
  .m-jc-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

@media (max-width: 960px) {
  .m-fd-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 960px) {
  .m-fd-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; } }

@media (max-width: 960px) {
  .m-ai-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (max-width: 720px) {
  .s-fd-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.p60-80 {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 960px) {
    .p60-80 {
      padding-top: 40px;
      padding-bottom: 56px; } }
  @media (max-width: 720px) {
    .p60-80 {
      padding-top: 32px;
      padding-bottom: 40px; } }

.p96-160 {
  padding-top: 96px;
  padding-bottom: 160px; }
  @media (max-width: 960px) {
    .p96-160 {
      padding-top: 60px;
      padding-bottom: 96px; } }
  @media (max-width: 720px) {
    .p96-160 {
      padding-top: 28px;
      padding-bottom: 56px; } }

.square {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 30%; }

.headline {
  font-weight: bold;
  border-left: 8px solid #9F1213;
  padding-left: 16px; }
  @media (max-width: 720px) {
    .headline {
      padding-left: 8px; } }

.fz72 {
  font-size: 72px; }

.fz48 {
  font-size: 48px; }

.fz42 {
  font-size: 42px; }

.fz36 {
  font-size: 36px; }

.fz30 {
  font-size: 30px; }

.fz32 {
  font-size: 32px; }

.fz28 {
  font-size: 28px; }

.fz20 {
  font-size: 20px; }

.fz19 {
  font-size: 19px; }

.fz18 {
  font-size: 18px; }

.fz16 {
  font-size: 16px; }

.fz14 {
  font-size: 14px; }

@media (max-width: 960px) {
  .m-fz64 {
    font-size: 64px; } }

@media (max-width: 960px) {
  .m-fz48 {
    font-size: 48px; } }

@media (max-width: 960px) {
  .m-fz42 {
    font-size: 42px; } }

@media (max-width: 960px) {
  .m-fz36 {
    font-size: 36px; } }

@media (max-width: 960px) {
  .m-fz32 {
    font-size: 32px; } }

@media (max-width: 960px) {
  .m-fz28 {
    font-size: 28px; } }

@media (max-width: 960px) {
  .m-fz24 {
    font-size: 24px; } }

@media (max-width: 960px) {
  .m-fz20 {
    font-size: 20px; } }

@media (max-width: 960px) {
  .m-fz16 {
    font-size: 16px; } }

@media (max-width: 960px) {
  .m-fz14 {
    font-size: 14px; } }

@media (max-width: 720px) {
  .s-fz64 {
    font-size: 64px; } }

@media (max-width: 720px) {
  .s-fz48 {
    font-size: 48px; } }

@media (max-width: 720px) {
  .s-fz42 {
    font-size: 42px; } }

@media (max-width: 720px) {
  .s-fz36 {
    font-size: 36px; } }

@media (max-width: 720px) {
  .s-fz32 {
    font-size: 32px; } }

@media (max-width: 720px) {
  .s-fz28 {
    font-size: 28px; } }

@media (max-width: 720px) {
  .s-fz24 {
    font-size: 24px; } }

@media (max-width: 720px) {
  .s-fz20 {
    font-size: 20px; } }

@media (max-width: 720px) {
  .s-fz17 {
    font-size: 17px; } }

@media (max-width: 720px) {
  .s-fz16 {
    font-size: 16px; } }

@media (max-width: 720px) {
  .s-fz14 {
    font-size: 14px; } }

.black {
  color: #000; }

.gray {
  color: #707070; }

.dark-gray {
  color: #555555; }

.white {
  color: #FFFFFF; }

.red {
  color: #AA0601; }

.dark-red {
  color: #650300; }

@media (max-width: 960px) {
  .m-black {
    color: #000; } }

@media (max-width: 960px) {
  .m-white {
    color: #FFFFFF; } }

@media (max-width: 960px) {
  .m-red {
    color: #AA0601; } }

@media (max-width: 960px) {
  .m-dark-red {
    color: #650300; } }

@media (max-width: 720px) {
  .s-black {
    color: #000; } }

@media (max-width: 720px) {
  .s-white {
    color: #FFFFFF; } }

@media (max-width: 720px) {
  .s-red {
    color: #AA0601; } }

@media (max-width: 720px) {
  .s-dark-red {
    color: #650300; } }

.header {
  padding: 0 56px 0 88px; }
  .header h1 a {
    width: 80px;
    height: 48px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header li a {
    padding: 0 32px;
    line-height: 108px;
    color: #FFFFFF; }
    .header li a:hover {
      background: #FFFFFF;
      color: #AA0601; }
  @media (max-width: 960px) {
    .header {
      padding: 0 19px 0 39px; }
      .header li a {
        padding: 0 20px; } }
  @media (max-width: 720px) {
    .header {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      padding: 0; }
      .header h1 a {
        width: 48px;
        height: 50px; }
      .header ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; }
        .header ul li {
          width: 50%; }
          .header ul li a {
            line-height: 45px;
            border: 1px solid #FFFFFF; } }

.footer {
  padding: 32px 0 39px 0; }
  .footer a {
    color: #FFFFFF; }
  .footer i {
    font-size: 48px;
    line-height: 48px; }
    @media (max-width: 960px) {
      .footer i {
        font-size: 24px;
        line-height: 24px; } }
    @media (max-width: 720px) {
      .footer i {
        font-size: 20px;
        line-height: 20px; } }
  .footer .top {
    padding-bottom: 8px;
    border-bottom: 1px solid #FFFFFF; }
    .footer .top .menu li {
      margin: 16px 24px 36px 0px; }
    .footer .top .phone li {
      margin-bottom: 16px; }
      .footer .top .phone li i {
        margin-right: 16px; }
    .footer .top .link li {
      margin-left: 32px; }
  .footer .down {
    margin-top: 32px; }
    .footer .down li {
      margin-left: 48px; }
  @media (max-width: 960px) {
    .footer {
      padding: 32px 0; }
      .footer .top .menu li {
        margin: 0px 40px 18px 0; }
      .footer .top .phone li {
        margin-bottom: 12px; }
        .footer .top .phone li i {
          margin-right: 8px; }
      .footer .top .link li {
        margin-left: 24px; }
      .footer .down {
        margin-top: 24px; }
        .footer .down li {
          margin-left: 24px; } }
  @media (max-width: 720px) {
    .footer {
      padding: 24px 0; }
      .footer .top {
        padding-bottom: 18px; }
        .footer .top .menu {
          display: none; }
        .footer .top .phone li {
          margin-bottom: 6px; }
          .footer .top .phone li i {
            margin-right: 5px; }
      .footer .down {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: start;
        margin-top: 16px; }
        .footer .down ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .footer .down ul li {
            margin: 8px 0 0 0; } }

.title {
  height: 840px; }
  @media (max-width: 720px) {
    .title {
      height: 394px; } }

.Promise h3, .Promise h5 {
  font-weight: bold; }

.Promise ul {
  margin-top: 40px; }
  .Promise ul li {
    width: calc(25% - 22.5px); }
    .Promise ul li img {
      margin-bottom: 16px; }
    .Promise ul li p {
      margin-top: 8px; }

@media (max-width: 960px) {
  .Promise ul {
    margin: 0 37.5px;
    margin-top: 32px; }
    .Promise ul li {
      width: calc(50% - 52.5px);
      margin-bottom: 32px; } }

@media (max-width: 720px) {
  .Promise ul {
    margin: 0 45px;
    margin-top: 28px; }
    .Promise ul li {
      width: 100%; } }

.Frame h3 {
  margin-bottom: 8px; }

.Frame img {
  max-width: 635px; }

.Frame li {
  font-family: 'Roboto', sans-serif;
  margin-top: 32px; }
  .Frame li h3 {
    margin: 30px; }
  .Frame li span {
    font-size: 44px;
    margin-right: 8px; }

@media (max-width: 960px) {
  .Frame img {
    max-width: 390px; }
  .Frame h3 {
    margin-bottom: 24px; }
  .Frame li {
    margin-top: 8px; }
  .Frame span {
    font-size: 40px; } }

@media (max-width: 720px) {
  .Frame img {
    max-width: 345px; }
  .Frame h3 {
    margin-bottom: 16px; }
  .Frame li {
    margin-top: 8px;
    position: relative; }
    .Frame li h3 {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); } }

.branding {
  font-weight: bold; }
  .branding ul {
    margin-top: 40px; }
    .branding ul li {
      width: calc(50% - 15px); }
      .branding ul li a {
        line-height: 445px;
        color: #AA0601; }
  @media (max-width: 960px) {
    .branding ul {
      margin-top: 32px; }
      .branding ul li a {
        line-height: 278px; } }
  @media (max-width: 720px) {
    .branding ul {
      margin-top: 20px; }
      .branding ul li {
        width: 100%;
        margin: 0;
        margin-bottom: 16px; }
        .branding ul li a {
          line-height: 291px; } }

.customer h3 {
  font-weight: bold; }

.customer ul {
  margin-top: 40px; }
  .customer ul li {
    width: calc(25% - 22.5px); }
    .customer ul li img {
      height: 256px; }
    .customer ul li .content {
      border: 1px solid #DEE2E6;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029;
      height: 204px;
      padding: 16px; }

@media (max-width: 960px) {
  .customer ul {
    margin: 0; }
    .customer ul li {
      width: calc(50% - 15px);
      margin-top: 32px; }
      .customer ul li img {
        width: 100%; }
      .customer ul li .content {
        padding: 16px 24px; } }

@media (max-width: 720px) {
  .customer ul {
    margin-top: 4px; }
    .customer ul li {
      width: 100%;
      margin-top: 16px; } }

.contact {
  width: 75%;
  margin: 0 auto; }
  .contact h3 {
    margin-bottom: 24px; }
  .contact h5 {
    margin-bottom: 20px; }
  .contact input[type='text'] {
    padding: 12px 0 14px 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    border: 1px solid #000;
    outline: none; }
  .contact textarea {
    height: 136px;
    resize: none;
    outline: none;
    border: 1px solid #000;
    margin-bottom: 16px;
    padding: 12px 16px; }
  .contact input[type='checkbox'] {
    width: 16px;
    height: 16px;
    margin-right: 4px; }
  .contact button {
    border: none;
    width: 50%;
    padding: 16px 0;
    margin: 0 auto;
    margin-top: 40px;
    cursor: pointer; }
  @media (max-width: 960px) {
    .contact {
      width: 65%; }
      .contact h5 {
        margin-bottom: 16px; }
      .contact input[type='text'] {
        padding: 8px 0 8px 12px;
        margin-bottom: 8px; }
      .contact textarea {
        height: 100px;
        margin-bottom: 8px;
        padding: 8px 12px; }
      .contact button {
        padding: 10px 0;
        margin-top: 20px; } }
  @media (max-width: 720px) {
    .contact {
      width: 100%; }
      .contact h3 {
        margin-bottom: 20px; } }

.choice li {
  width: calc(100% / 3);
  font-weight: bold;
  border: 1px solid #DCDCDC; }

.choice a {
  line-height: 96px;
  border-bottom: 8px solid #FFFFFF; }
  .choice a span {
    font-size: 44px;
    margin-right: 10px; }
  .choice a:hover {
    color: #AA0601;
    border-bottom: 8px solid #691d1a; }

@media (max-width: 960px) {
  .choice a {
    line-height: 60px; }
    .choice a span {
      font-size: 32px;
      margin-right: 8px; } }

@media (max-width: 720px) {
  .choice a {
    line-height: 30px;
    border-bottom: 4px solid #FFFFFF; }
    .choice a span {
      font-size: 16px;
      margin-right: 4px; }
    .choice a:hover {
      border-bottom: 4px solid #AA0601; } }

.pic {
  height: 304px; }
  .pic img {
    width: 50%; }
  @media (max-width: 720px) {
    .pic {
      height: 148px; } }

.Celluloid .glasses {
  margin-top: 32px; }
  .Celluloid .glasses li {
    width: calc(25% - 22.5px);
    margin-top: 8px;
    margin-bottom: 96px; }
    .Celluloid .glasses li img {
      width: 100%;
      height: 164px; }
    .Celluloid .glasses li h5 {
      color: #000; }
      .Celluloid .glasses li h5 span {
        color: #AA0601; }
    .Celluloid .glasses li button {
      cursor: pointer; }

@media (max-width: 960px) {
  .Celluloid {
    padding-top: 56px;
    padding-bottom: 96px; }
    .Celluloid .glasses li {
      width: calc(50% - 15px);
      margin-top: 7px;
      margin-bottom: 65px; } }

@media (max-width: 720px) {
  .Celluloid {
    padding-top: 32px;
    padding-bottom: 56px; }
    .Celluloid .glasses {
      margin-top: 20px; }
      .Celluloid .glasses li {
        width: 100%;
        margin-top: -8px;
        margin-bottom: 40px; } }

.next a {
  line-height: 48px;
  border: 1px solid #555555;
  padding: 0 16px; }
  .next a:hover {
    background: #000000;
    color: #FFFFFF; }

.next .page {
  padding: 0 12px; }

@media (max-width: 720px) {
  .next a {
    line-height: 48px;
    padding: 0 14px; }
  .next .page {
    padding: 0 8px; } }

.collectton ul {
  margin-top: 40px; }
  .collectton ul li {
    width: calc(100% / 3 - 20px);
    margin-bottom: 104px; }
    .collectton ul li img {
      width: 100%;
      height: 224px; }

@media (max-width: 960px) {
  .collectton {
    padding-top: 56px;
    padding-bottom: 24px; }
    .collectton ul {
      margin-top: 32px; }
      .collectton ul li {
        width: calc(50% - 15px);
        padding-bottom: 72px; }
        .collectton ul li img {
          height: 164px; } }

@media (max-width: 720px) {
  .collectton {
    padding-top: 32px;
    padding-bottom: 8px; }
    .collectton ul {
      margin-top: 20px; }
      .collectton ul li {
        width: 100%;
        padding-bottom: 32px;
        margin: 0; }
        .collectton ul li img {
          height: 166px; } }

.place img {
  width: 100%; }

.place select {
  margin-top: 60px;
  margin-left: 20px;
  width: 32%;
  padding: 9px 0 10px 16px;
  color: #495057;
  border: 1px solid #CED4DA;
  outline: none; }

@media (max-width: 960px) {
  .place select {
    padding: 12px 0 12px 16px; } }

@media (max-width: 720px) {
  .place select {
    margin-top: 24px;
    margin-left: 8px;
    width: 80%; } }

.shop li {
  width: calc(100% / 3 - 20px);
  margin-top: 32px; }
  .shop li img {
    height: 224px; }
  .shop li h5 {
    text-indent: 24px;
    line-height: 60px;
    border: 1px solid #00000020; }
  .shop li .site {
    padding: 16px;
    border: 1px solid #00000020; }
    .shop li .site li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      margin: 0; }
      .shop li .site li span {
        padding: 3px;
        margin-right: 5px; }
  .shop li a {
    line-height: 67px;
    border: 1px solid #00000020; }
    .shop li a:hover {
      background: #000;
      color: #FFFFFF; }

@media (max-width: 960px) {
  .shop li {
    width: calc(50% - 15px);
    margin-top: 20px; }
    .shop li img {
      height: 164px; }
    .shop li h5 {
      text-indent: 16px;
      line-height: 40px; }
    .shop li .site li {
      width: 100%;
      margin: 0; }
      .shop li .site li span {
        padding: 3px;
        margin-right: 5px; }
    .shop li a {
      font-size: 14px;
      line-height: 52px; } }

@media (max-width: 720px) {
  .shop {
    margin-top: 4px; }
    .shop li {
      width: 100%;
      margin-top: 16px; }
      .shop li .site li {
        font-size: 14px; }
        .shop li .site li span {
          font-size: 20px;
          padding: 0px; } }

.maps {
  margin-top: 32px; }
  .maps .inn {
    width: 40%; }
    .maps .inn h5 {
      text-indent: 24px;
      line-height: 60px;
      border: 1px solid #00000020; }
    .maps .inn ul {
      padding: 16px 24px;
      border: 1px solid #00000020; }
      .maps .inn ul span {
        margin-right: 8px; }
  .maps iframe {
    width: calc(60% - 30px);
    height: 100%; }
  @media (max-width: 960px) {
    .maps li {
      width: 100%; }
    .maps .inn {
      width: 100%;
      margin-bottom: 32px; }
      .maps .inn h5 {
        text-indent: 16px;
        line-height: 40px; }
      .maps .inn img {
        width: calc(50% - 15px);
        height: 164px; }
      .maps .inn .site {
        width: calc(50% - 15px); }
    .maps iframe {
      width: 100%;
      height: 422px; } }
  @media (max-width: 720px) {
    .maps .inn {
      margin-bottom: 16px; }
      .maps .inn img {
        width: 100%; }
      .maps .inn .site {
        width: 100%; }
    .maps iframe {
      height: 211px; } }

.news {
  padding: 12px 0; }
  .news a {
    color: white; }
  .news li {
    margin-right: 48px; }
  .news span {
    font-size: 30px; }

.bolg {
  padding-top: 60px; }
  .bolg .group {
    margin-bottom: 96px; }
    .bolg .group li {
      margin-top: 60px;
      height: 400px; }
      .bolg .group li img {
        width: calc(60% - 30px); }
      .bolg .group li .set {
        width: 40%; }
        .bolg .group li .set p {
          margin-top: 24px; }
        .bolg .group li .set h3 {
          font-weight: bold; }
  @media (max-width: 960px) {
    .bolg {
      padding-top: 32px; }
      .bolg .group {
        margin-bottom: 64px; }
        .bolg .group li {
          margin-top: 24px;
          height: 207px; }
          .bolg .group li img {
            width: calc(50% - 15px); }
          .bolg .group li .set {
            width: calc(50% - 15px); }
            .bolg .group li .set p {
              margin-top: 32px; }
              .bolg .group li .set p::after {
                display: none; }
            .bolg .group li .set h3 {
              font-weight: bold; } }

.detail p {
  margin: 8px 0; }
  .detail p::after {
    content: '情人特別企劃';
    color: #AA0601; }

.detail span {
  font-size: 24px;
  color: #AA0601;
  margin-right: 16px; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .article .event {
    width: 75%;
    padding-bottom: 160px; }
    .article .event h2 {
      font-size: 48px; }
    .article .event h4 {
      font-size: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .article .event h4 span {
        font-size: 16px; }
    .article .event img {
      margin: 24px 0; }
    .article .event p {
      font-size: 20px;
      color: #0A0A0A;
      padding-bottom: 16px; }
    .article .event .share p {
      color: #0A0A0A;
      margin-bottom: 4px;
      margin-top: 24px; }
    .article .event .share svg {
      margin-left: 16px; }
    .article .event .share .arrow {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border-top: 1px solid #707070; }
      .article .event .share .arrow p {
        font-size: 19px; }
      .article .event .share .arrow span {
        font-size: 16px; }
  .article .tags {
    width: 23%;
    color: #AA0601; }
    .article .tags h4 {
      font-size: 28px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .article .tags h4 span {
        font-size: 38px;
        margin-right: 12px; }
    .article .tags span {
      font-size: 24px;
      margin: 8px 0;
      margin-right: 24px; }

.problem {
  padding-top: 96px;
  padding-bottom: 160px; }
  .problem h2 {
    border-left: 8px solid #9F1213;
    padding-left: 16px;
    margin-bottom: 65px; }
  .problem h3 {
    margin: 36px 0; }
  .problem li {
    margin-bottom: 32px; }
    .problem li h4 {
      margin-bottom: 16px;
      font-weight: bold; }
    .problem li p {
      padding-left: 95px; }
  @media (max-width: 720px) {
    .problem li p {
      padding: 0; } }

/*# sourceMappingURL=all.css.map */
